*{
    
    margin: 0;
    padding: 0;
}

/* div.graficos{
    position: absolute;
} */

/* responsive xs */
@media screen and (min-width: 1px) and (max-width: 767px) {
    #mychart{
        width:25px;
        height:25px;
    }
    #mychart2{
        width:25px;
        height:25px;
    }
    #mychart3{
        width:25px;
        height:25px;
    }
}
/* responsive sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    #mychart{
        width:50px;
        height:50px;
    }
    #mychart2{
        width:50px;
        height:50px;
    }
    #mychart3{
        width:70px;
        height:200px;
    }
}
/* responsive md */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    #mychart{
        width:70px;
        height:70px;
    }#mychart2{
        width:70px;
        height:70px;
    }
    #mychart3{
        width:70px;
        height:70px;
    }
}
/* responsive lg */
@media screen and (min-width: 1200px) {
    #mychart{
        width:90px;
        height:90px;
    }
    #mychart2{
        width:90px;
        height:90px;
    }
    #mychart{
        width:90px;
        height:90px;
    }
} 